html, body {
    height: 100vh;
    width: 100vw;
}

#calculator {
    background-color: #37033F;
    height: 83%;
    width: 50%;
    border-radius: 30px 30px 10px 10px;
}

#content-container {
    height: 95%;
}

input:focus {outline: none; }

#result {
    height: 8vh;
    text-align: right;
    background-color: #fae2e9;
    color:#37033f;
    font-size: 1.7em;
    font-weight: 500;
    border: none;
    border-radius: 45px;
    background: linear-gradient(0deg, #f2b7c9, #d6b4cd);
    box-shadow: 0 0 2px #fae2e9, 0 0 0 4px #75053f, 0 0 0 5px #990947, inset 0 0 10px rgba(250, 226, 233,1), 0 5px 20px rgba(250, 226, 233,.5), inset 0 0 15px rgba(250, 226, 233,.2);
}

.number {
    height: 9vh;
    background-color: #fae2e9;
    color:#37033f;
    font-size: 1.5em;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    background: linear-gradient(0deg, #f2b7c9, #d6b4cd);
    box-shadow: 0 0 2px #fae2e9, 0 0 0 4px #75053f, 0 0 0 5px #990947, inset 0 0 10px rgba(250, 226, 233,1), 0 5px 20px rgba(250, 226, 233,.5), inset 0 0 15px rgba(250, 226, 233,.2);
}

.bottom-nums {
    width: 20%;
}

.shift {
    margin-right: 13%;
}

.zero {
    width: 54%;
}

.equals {
    font-size: 3em;
    font-weight: 450;
    height: 21vh;
}